# Conan
conan/test_package/build

# IDEs
*.user
.idea
.vscode
.vs
CMakeSettings.json
cpp.hint

# Bazel
/bazel-*
test/.DS_Store
conan/.DS_Store
docs/.DS_Store
single_include/.DS_Store
src/.DS_Store
src/entt/.DS_Store
.DS_Store
